@model Ulatina.Electiva.Classwork.Proyecto.Model.Custodia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Custodia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaCustodiaIngresada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCustodiaIngresada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticuloPerdido.descripcionArticuloPerdido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticuloPerdido.descripcionArticuloPerdido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCustodia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
