@model Ulatina.Electiva.Classwork.Proyecto.Model.ArticuloPerdido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ArticuloPerdido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionArticuloPerdido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionArticuloPerdido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusArticuloPerdido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusArticuloPerdido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.nombreCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArticuloPerdido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
